# Application
web/app/debug.log
web/app/mu-plugins/*/
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/themes/*
!web/app/themes/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Ignore Exceptions
!web/app/mu-plugins/wpprsc.php
!web/app/mu-plugins/WPPRSC

# WordPress
web/core
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.tmpl
!.env.example

# VVV
vvv-nginx.conf
log/*

# Vendor (e.g. Composer)
composer.lock
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# IDEs
*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

# OSes
[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
